---
import ContentSection from "~/components/content-section.astro";
---

<ContentSection>
  <div
    class="flex flex-col-reverse items-center justify-center gap-16 px-4 py-24 md:gap-28 md:px-44 md:py-20 lg:flex-row lg:px-24 lg:py-24"
  >
    <div class="relative w-full pb-12 lg:pb-0 xl:w-1/2 xl:pt-24">
      <div class="relative">
        <div class="absolute">
          <div class="">
            <h1
              class="my-2 font-bold text-gray-800 text-2xl dark:text-indigo-600"
            >
              Похоже, вы нашли вход в великое ничто
            </h1>
            <p class="my-2 text-gray-800 dark:text-indigo-600">
              Извините за это! Пожалуйста, посетите нашу домашнюю страницу,
              чтобы попасть туда, куда вам нужно.
            </p>
            <button href="/" class="gradientBgBtn">Отведи меня туда!</button>
          </div>
        </div>
        <div>
          <img src="https://i.ibb.co/G9DC8S0/404-2.png" />
        </div>
      </div>
    </div>
    <div>
      <img src="https://i.ibb.co/ck1SGFJ/Group.png" />
    </div>
  </div>
</ContentSection>
