---
import Compatibility from "~/components/compatibility.astro";
import Services from "~/components/services.astro";
import Footer from "~/components/Footer.astro";
import Header from "~/components/header.astro";
import Intro from "~/components/intro.astro";
import Splash from "~/components/splash.astro";
import Layout from "~/layouts/Layout.astro";
// import Testimonials from "~/components/testimonials.astro";
import Features from "~/components/features.astro";
---

<Layout
  title="ПРОМЫШЛЕННЫЙ АЛЬПИНИЗМ | ВЫСОТНЫЕ РАБОТЫ в Ульяновске"
  description="Услуги промышленных альпинистов в Ульяновске."
>
  <Header />
  <Splash />
  <div class="space-y-24 px-4 py-32 md:px-8">
    <Intro />
    <Services />
    <!-- <Testimonials /> -->
    <Features />
  </div>
  <Footer />
</Layout>
