---
import Compatibility from "~/components/compatibility.astro";
import Services from "~/components/services.astro";
import Footer from "~/components/Footer.astro";
import Header from "~/components/header.astro";
import Intro from "~/components/intro.astro";
// import Showcase from "~/components/showcase.astro";
import Splash from "~/components/splash.astro";
import Layout from "~/layouts/Layout.astro";
import Testimonials from "~/components/testimonials.astro";
import Features from "~/components/features.astro";
---

<Layout
  title="ПРОМЫШЛЕННЫЙ АЛЬПИНИЗМ | ВЫСОТНЫЕ РАБОТЫ в Ульяновске"
  description="Услуги промышленных альпинистов в Ульяновске."
>
  <Header client:load />
  <Splash client:load />
  <div class="space-y-24 px-8 py-32">
    <Intro client:visible />
    <Services client:visible />
    <Testimonials client:visible />
    <Features client:visible />
    <!-- <Compatibility client:visible /> -->
  </div>
  <Footer client:visible />
</Layout>
