---
interface Props {
  badge: string[];
}
const {
  badge = [
    "Клининговые работы",
    "Монтажные работы",
    "Фасадные работы",
    "Кровельные работы",
    "Такелажные работы",
  ],
} = Astro.props;
---

<div class="mt-8 flex-1">
  {
    badge.map((bdg) => (
      <span class="mb-2 mr-2 inline-block rounded-full bg-fuchsia-600 bg-gradient-to-tr from-sky-100 via-cyan-100 to-teal-100 px-4 py-0 text-xs text-sky-800">
        {bdg}
      </span>
    ))
  }
</div>
