---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
import type { FeatureItem } from "~/types";

const features: Array<FeatureItem> = [
  {
    title: "Ремонт межпанельных швов",
    description: "Утепление межпанельных швов",
    icon: "mdi:spray",
    price: "от 250 руб.",
  },
  {
    title: "Утепление стен снаружи",
    description: "Наружное утепление стен пеноплексом",
    icon: "map:abseiling",
    price: "от 825 руб.",
  },
  {
    title: "Герметизация окон и балконов",
    description: "bi:window",
    icon: "iconoir:balcony",
    price: "от 2000 руб.",
  },
  {
    title: "Мойка фасадов зданий",
    description: "Фасады и витражи. Окна и балконы",
    icon: "mdi:graph",
    price: "от 70 руб.",
  },
  {
    title: "Уборка снега с крыш",
    description: "Очистка кровли от снега, наледи и сосулек",
    icon: "bi:snow2",
    price: "от 50 руб.",
  },
  {
    title: "Фасадные работы",
    description: "Покраска, штукатурка, гидрофобизация",
    icon: "map:painter",
    price: "от 70 руб.",
  },
  {
    title: "Кровельные работы",
    description: "Наплавляемая кровля, скатная кровля",
    icon: "mdi:account-group",
    price: "от 540 руб.",
  },
  {
    title: "Покраска металлоконструкций",
    description: "Фермы, АМС, ЛЭП, резервуары и т.п.",
    icon: "mdi:account-group",
    price: "от 80 руб.",
  },
  {
    title: "Монтаж, демонтаж металлоконструкций",
    description: "Фермы, мачты, газходы. Изготовление и...",
    icon: "material-symbols:construction",
    price: "от 18500 руб.",
  },
  {
    title: "Монтаж наружной рекламы",
    description: "Монтаж баннеров, рекламных конструкций",
    icon: "mdi:account-group",
    price: "от 150 руб.",
  },
  {
    title: "Монтажные работы на высоте",
    description: "Монтаж оборудования, подъем грузов и...",
    icon: "mdi:account-group",
    price: "от 7700 руб.",
  },
];
---

<ContentSection title="Наши услуги" id="features">
  <ul class="grid max-w-6xl grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    {
      features.map(({ title, description, icon, price }) => (
        <li class="border-default bg-offset flex flex-col items-center gap-4 border p-6">
          <div class="h-16 w-16 rounded-full border-2 border-current p-3">
            <Icon name={icon} />
          </div>
          <p class="text-center text-xl font-extrabold">{title}</p>
          <p class="text-offset text-center text-sm">{description}</p>
          <p class="text-offset text-center text-xs">{price}</p>
        </li>
      ))
    }
  </ul>
</ContentSection>
