---
import { Picture } from "@astrojs/image/components";
import type { ShowcaseSite } from "~/types";

import rocket from "~/assets/ochistka-krysh-ot-sosulek.jpg";

export interface Props {
  site: ShowcaseSite;
}

const widths = [200, 400];
const sizes = "(min-width: 1024px) 33vw, (min-width: 768px) 50vw, 100vw";
---

<section
  id="intro"
  class="flex scroll-mt-24 flex-col items-center gap-4 space-y-8"
>
  <div
    class="py-26 relative mx-auto max-w-screen-xl p-4 px-4 sm:px-6 lg:mt-20 lg:px-8"
  >
    <div class="relative">
      <div
        class="lg:grid lg:grid-flow-row-dense lg:grid-cols-2 lg:items-center lg:gap-8"
      >
        <div class="ml-auto lg:col-start-2 lg:max-w-2xl">
          <h2 class="gradientText mb-10 font-extrabold tracking-tight text-5xl">
            Высотные работы
          </h2>{rocket}
          <p class="max-w-xl font-extrabold text-2xl">
            Мы <span class="textPrimary">квалифицированные</span> специалисты имеем
            <span class="textPrimary">лицензию</span> для работ на высоте.
          </p>
          <p class="mt-4 leading-6 text-gray-500 text-lg">
            Выполняем все виды услуг промышленного альпинизма и высотных работ:
          </p>
          <div class="mt-8 gap-6 md:grid md:grid-cols-2">
            <div class="flex">
              <span
                class="drark:bg-transparent flex h-6 flex-shrink-0 items-center justify-center rounded-full bg-green-100 px-4 py-2 text-green-800 dark:text-green-500"
              >
                <svg class="h-4 w-4" viewBox="0 0 20 20" fill="currentColor">
                  <path
                    fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"
                  >
                  </path>
                </svg>
                <span class="py-4 text-xs">Фасадные работы</span>
              </span>
            </div>
          </div>
        </div>
        <div class="relative-20 relative mt-10 lg:col-start-1 lg:-mx-4 lg:mt-0">
          <div class="relative space-y-4">
            <div
              class="flex items-end justify-center space-x-4 lg:justify-start"
            >
              <Picture
                class="w-32 rounded-lg shadow-lg md:w-56"
                src={rocket}
                widths={widths}
                sizes={sizes}
                alt={`A rocketship in space.`}
              />
              <img
                class="w-40 rounded-lg shadow-lg md:w-64"
                width="260"
                src="/images/landscape/4.jpg"
                alt="2"
              />
            </div>
            <div
              class="ml-12 flex items-start justify-center space-x-4 lg:justify-start"
            >
              <img
                class="w-24 rounded-lg shadow-lg md:w-40"
                width="170"
                src="/images/landscape/3.jpg"
                alt="3"
              />
              <img
                class="w-32 rounded-lg shadow-lg md:w-56"
                width="200"
                src="/images/object/9.jpg"
                alt="4"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
