---
import BgImg from "/assets/alpinist_1200w.png";
---

<div class="absolute inset-0">
  <div
    class="relative h-full overflow-hidden bg-[url('https://s3.wi-fi.ru/cp3o/GCvnFMFxJGaW1Et6wJt926qS?response-content-type=image/jpeg')] bg-cover bg-center bg-no-repeat blur-sm"
  >
    <div
      class="absolute bottom-0 left-0 right-0 top-0 h-full w-full overflow-hidden bg-slate-950/[.75] bg-fixed"
    >
    </div>
  </div>
</div>
