---
import ContentSection from "~/components/content-section.astro";
import TestimonialCard from "~/components/testimonial-card.astro";
import { getTestimonial } from "~/data/testimonial";

const sites = await getTestimonial();
---

<ContentSection title="Отзывы" id="testimonials">
  <Fragment slot="lead">
    Вот что клиенты пишут о нас на <a
      href="https://www.avito.ru/user/6375868aba354c02372283294767b6d9/profile"
      >Авито</a
    >
  </Fragment>
  <div class="mx-auto max-w-7xl px-4 py-10 sm:px-6 lg:px-8 lg:py-14">
    <div class="gap-8 space-y-8 md:columns-2 lg:columns-3">
      {sites.map((site) => <TestimonialCard site={site} />)}
    </div>
  </div>
</ContentSection>
